

.about {
    margin-top: 3%;
}

.family {
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin-top: 5%;
}


.family p {
    line-height: 1.5;

    margin-left: 8%;
}

@media screen and (max-width: 900px) {

    .about {
        margin-top: 7%;
    }

    .family {
        flex-direction: column;

        margin: 5% 5%;
    }

    .family img {
        max-width: 80%;
        
    }

    .family p {
        margin: 10% 5%;
    }
}