

.family {
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin-top: 3%;
}


.family p {
    line-height: 1.5;

    margin-left: 8%;
}

@media screen and (max-width: 900px) {

    .family {
        flex-direction: column;

        margin: 0 auto;
    }

    .family img {
        max-width: 100%;
        
    }
}