
.menu {
    flex-direction: column;
    margin-bottom: 5%;
}

.menu-title h2 {
    font-size: 3.5vh;
}

.menu-items {
    flex-direction: column;

    justify-content: center;
    align-items: stretch;
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));

    grid-gap: 2vh;

    margin: 2% 15%;
}

.grid-item {
    border: 2px solid #b4dbe5;

    height: fit-content;

    border-radius: 1%;

    box-sizing: border-box;
}

.flavors-and-tossins {


    text-align: left;

    margin: 2% auto;
}

