* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Playfair Display', serif;

  flex-direction: column;
}

.flexbox-container {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

